# =========================
# Python
# =========================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# UV package manager
.uv_cache/
uv.lock

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
*.whl

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# Environment variables
.env
.env.local

# =========================
# JetBrains IDEs
# =========================
# Covers PyCharm, IntelliJ, WebStorm, etc.
.idea/
*.iws
*.iml
*.ipr
out/
.idea/workspace.xml
.idea/tasks.xml

# =========================
# OS / Linux
# =========================
.directory
*~

# macOS
.DS_Store
todo.md
parse_thing.py